<!DOCTYPE html>
<html>
  <head>
    <title>Quiiet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div class="shadow1 bg-white p-2">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon container ">
        <%= link_to "root_path", class: "navbar-brand" do %>
          <%= image_tag "logo.jpg" %>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "La Cabine", cabine_path, class: "ml-2 mr-2 nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "À Propos", team_path, class: "ml-2 mr-2 nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Blog", blog_path, class: "ml-2 mr-2 nav-link" %>
            </li>
            <li>
              <%= link_to "ACHETER", buy_path, class: "ml-2 mr-2 cta_2" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
